.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.footer-container {
  margin-top: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--footer-bg-color); /* Ensure this matches the site's background color */
  padding: 1rem; /* Add some padding for better appearance */
  border-radius: 8px; /* Optional: add rounded corners */
  border-top: 1px solid rgba(255, 255, 255, 0.12); /* Add a top border to separate */
}

.footer-text {
  color: white;
  font-weight: 400;
  font-size: 0.875rem; /* equivalent to variant="body2" */
}

.footer-text span {
  font-weight: 700; /* bold */
}