@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}

.MuiTableCell-root {
  border-right: 1px solid rgba(255, 255, 255, 0.22) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
}

footer {
  color: white;
}

.footer-container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--footer-bg-color); /* Ensure this matches the site's background color */
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.12); /* Add a top border to separate */
  flex-shrink: 0; /* Prevents the footer from shrinking */
  height: 30px; /* Set a fixed height for the footer */
}

.footer-text {
  color: white;
  font-weight: 400;
  font-size: 0.875rem; /* equivalent to variant="body2" */
  line-height: 60px; /* Align text vertically within the fixed height */
}

.footer-text span {
  font-weight: 900; /* bold */
}

#scheduler-container {
  flex-grow: 1; /* Allow the table to grow and take up available space */
  display: flex;
  flex-direction: column;
}

.table-class {
  flex-grow: 1;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.header-container {
  width: 100%;
  margin: 0;
  padding: 1rem;
  flex-shrink: 0;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

